<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Lista de Tarefas</title>
</head>
<body>
    <header>
    <h1>Lista de Tarefas</h1>

    <form action="/new" method="POST">
        <input type="text" name="item" id="item" placeholder="Adicione uma tarefa">
        <button type="submit">Adicione</button>
    </form>
    </header>

    <section>
        {% if itens != [] %}
        <a href="/clear">Limpar Lista</a>
        {% endif %}

        <ul>
            {% for item in lista %}
            <li class="itens"> {{item}} </li>
            {% endfor %}
        </ul>
    </section>
</body>
<script src="../static/js/script.js"></script>
</html>