<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Portifólio</title>
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="#inicio">Inicio</a></li>
        <li><a href="#sobre-mim">Sobre mim</a></li>
        <li><a href="#carousel_id">Projetos</a></li>
        <li><a href="#habilidades">Habilidades</a></li>
        <li><a href="#contato">Contato</a></li>
      </ul>
    </nav>

    <header id="inicio">
      <div>
        <p>
          "Faça o teu melhor, na condição que você tem, enquanto não tem
          condições melhores, para fazer melhor ainda!"
        </p>
        <span>Mario Sergio Cortella</span>
      </div>

      <div id="img-rocket">
        <img
          src="../static/img/rocket.png"
          alt="Imagem de um foguete"
        />
      </div>
    </header>

    <section id="sobre-mim">
      <div>
        <img src="../static/img/eu.png" width="100" alt="Foto do Wanderson" />
      </div>

      <div>
        <p>
          Começou a programar para dispositivo mobile em 2019, gostou tanto que melhorou suas habilidades em desenvolvimento android com auxilio da plataforma Makeroid atual Kondular. Conheceu a linguagem Python em janeiro de 2021 e hoje estuda na Blue para entrar de vez na carreira Dev.
        </p>
      </div>
    </section>

    <div id="carousel_id" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel_id" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel_id" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel_id" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carousel_id" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carousel_id" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carousel_id" data-bs-slide-to="5" aria-label="Slide 6"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../static/img/slide-1.png" class="d-block w-100" alt="">
          <div class="carousel-caption d-none d-md-block">
            <h5>Calculadora de Imc</h5>
            <p>Calcule seu IMC (Índice de Massa Corpórea), é calculado dividindo o peso (em kg) pela altura ao quadrado (em metros).</p>
            <a href="https://github.com/wandersonDeve/Calculadora_imc" target="_blank" class="btn btn-lm btn-primary">Acessar projeto</a>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../static/img/slide-2.png" class="d-block w-100" alt="">
          <div class="carousel-caption d-none d-md-block">
            <h5>Tabela</h5>
            <p>Junte com amigos e use a tabela para marcar as vitorias e derrotas de cada um.</p>
            <a href="https://github.com/wandersonDeve/TabelaSuspect" target="_blank" class="btn btn-lm btn-primary">Acessar projeto</a>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../static/img/slide-3.png" class="d-block w-100" alt="">
          <div class="carousel-caption d-none d-md-block">
            <h5>Playlist de Musica</h5>
            <p>Escolha as melhores musicas e adicione na sua playlist, e ouça quando quiser.</p>
            <a href="https://github.com/wandersonDeve/Wander_Music" target="_blank" class="btn btn-lm btn-primary">Acessar projeto</a>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../static/img/slide-4.png" class="d-block w-100" alt="">
          <div class="carousel-caption d-none d-md-block">
            <h5>Aniflix</h5>
            <p>O Aniflix mostra os melhores animes utilizando o layout da Netflix</p>
            <a href="https://github.com/wandersonDeve/Aniflix" target="_blank" class="btn btn-lm btn-primary">Acessar projeto</a>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../static/img/slide-5.png" class="d-block w-100" alt="">
          <div class="carousel-caption d-none d-md-block">
            <h5>Cartão de Projetos</h5>
            <p>Criado para a divulgação de projetos criados, uma forma elegante de mostrar sites/templates prontos e funcionando.</p>
            <a href="https://github.com/wandersonDeve/Certificard" target="_blank" class="btn btn-lm btn-primary">Acessar projeto</a>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../static/img/slide-6.png" class="d-block w-100" alt="">
          <div class="carousel-caption d-none d-md-block">
            <h5>Jogo da Cobra</h5>
            <p>O mais popular jogo dos antigos celulares nokias, o jogo da cobra desenvolvido em JS.</p>
            <a href="https://github.com/wandersonDeve/Snake" target="_blank" class="btn btn-lm btn-primary">Acessar projeto</a>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel_id" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel_id" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Proximo</span>
      </button>
    </div>

    <section id="habilidades">
      <h2>Habilidades Técnicas</h2>

      <p>Python</p>
      <div>
        <span id="python">80%</span>
      </div>

      <p>Javascript</p>
      <div>
        <span id="javascript">70%</span>
      </div>

      <p>HTML 5</p>
      <div>
        <span id="html">50%</span>
      </div>

      <p>Bootstrap</p>
      <div>
        <span id="bootstrap">40%</span>
      </div>

      <p>Flask</p>
      <div>
        <span id="flask">20%</span>
      </div>

      <p>CSS 3</p>
      <div>
        <span id="css">20%</span>
      </div>

    </section>
    <section id="contato">

      <div id="redes">
        <h3>Se conecte comigo</h3>

        <div id="icons">
          <a href="https://www.linkedin.com/in/wandersongsantos/" target="_blank"> 
            <i class="fa fa-linkedin-square" aria-hidden="true"></i> 
          </a>
   
          <a href="https://github.com/wandersonDeve" target="_blank"> 
            <i class="fa fa-github" aria-hidden="true"></i> 
          </a>
        </div>
         
      </div>

      <div id="form">

        <h3>Mande uma mensagem</h3>

        <form action="/send" method="POST">

          <label for="nome">Nome</label>
          <input id="nome" name="nome" type="text">

          <label for="email">E-mail</label>
          <input type="email" id="email" name="email">

          <label for="mensagem">Mensagem</label>
          <textarea name="mensagem" id="mensagem" cols="10" rows="5"></textarea>

          <button type="submit" id="enviar">Enviar</button>

        </form>

      </div>
<!-- 
      <div id="carregamento">
        <p>Enviando mensagem</p>
        <div id="loader"></div>
      </div> -->

    </section>

    <footer>
      <hr>
      <p>Todos os direitos reservados: <a target='_blank' href="https://wandersondeve.github.io/Certificard/">WanderDev</a> &copy;</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="../static/js/script.js"></script>

  </body>
</html>
