<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Login</title>
</head>
<body>

    <section id="login">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        
        <form action='/auth' method="POST">
            <a href="/">
                <i class="fa fa-home" aria-hidden="true"></i>
            </a>
            

            <h1>Acesso a área administrativa</h1>
            <input type="password" placeholder="Digite a senha" id="senha" name="senha">
            <button type="submit">Enviar</button>

        </form>
    </section>

</body>
<script src="../static/js/adm.js"></script>

</html>